<html>
	<head>
        <% include ./../partials/head %>
	</head>
	<style>
		.mob-b2 {

		}

		@media (max-width: 800px) {
			.mob-b1 { width:100%; }
		}
	</style>
	<body>
		<% include ./../partials/header %>
        <% include ./../partials/nav %>
		<section class="container">
			<div class="box b2 container ground margin-top-10 padding-10">
                <h3 class="underline center">Nova Receita</h3>
				<form id="income-create-form" class="box b1 container">
					<input type="hidden" name="id" value="">
                    <div class="box b1 container margin-top-5">
						<div class="box b1 em08 georgia">Data de vencimento</div>
						<input type="date" name="date" class="box b1 georgia input-generic center">
					</div>
					<div class="box b3 container margin-top-5">
						<div class="box b1 em08 georgia">Categoria</div>
						<select name="category-id" class="box b1 input-generic center">
						    <option value="">Categoria</option>
							<% for(i in incomeCategories){ %>
								<option value="<%= incomeCategories[i].id %>"><%= incomeCategories[i].name %></option>
							<% } %>
						</select>
					</div>
					<div class="box b3 container margin-top-5">
						<div class="box b1 em08 georgia">Origem</div>
						<select name="origin-id" class="box b1 input-generic center">
							<option value="">Origem</option>
						</select>
					</div>
					<div class="box b3 container margin-top-5">
						<div class="box b1 em08 georgia">Valor do pagamento</div>
	                    <input type="number" name="cash" class="box b1 em12 input-generic center bold" step="0.01" value="0.00" onfocus="if(this.value < 0.01){this.value=''}" onblur="if(this.value < 0.01){this.value=parseFloat(0).toFixed(2)}"/>
					</div>
					<div class="box b1 container margin-top-5">
						<div class="box b1 em08 georgia">Descrição da despesa</div>
						<textarea name="description" class="box b1 height-80 avant-garde padding-5" placeholder="Descrição"></textarea>
					</div>
					<input type="submit" name="submit" class="box b1 submit-generic center margin-top-5" value="Cadastrar">
				</form>
                <h3 class="box b1 underline center margin-top-10">Relatório de Entradas</h3>
				<form id="income-filter-form" class="box b1 container">
					<input type="date" name="periodStart" class="box b2 input-generic center margin-top-5">
					<input type="date" name="periodEnd" class="box b2 input-generic center margin-top-5">
                    <select name="category-id" class="box b2 input-generic center margin-top-5">
					    <option value="">Categoria</option>
						<% for(i in incomeCategories){ %>
							<option value="<%= incomeCategories[i].id %>"><%= incomeCategories[i].name %></option>
						<% } %>
					</select>
					<select name="origin-id" class="box b2 input-generic center margin-top-5">
						<option value="">Origem</option>
					</select>
					<input type="submit" name="submit" class="box b1 submit-generic center margin-top-5" value="Filtrar">
				</form>
				<div id="income-filter-box" class="box b1 container ground margin-top-10" style="display:none;">
                    <div id="income-total-value" class="box b1 em12 center padding-5 bold"></div>
					<div id="income-filter-div" class="box b1 container"></div>
	                <% include ./../partials/carousel %>
				</div>
				<div id="income-show-box" class="box b1 container border-explicit padding-5 margin-top-5" style="display:none;"></div>
			</div>

			<div class="box b2 container ground margin-top-10 padding-10">
                <h3 class="underline center">Nova Despesa</h3>
				<form id="outcome-create-form" class="box b1 container">
					<input type="hidden" name="id" value="">
                    <div class="box b1 container margin-top-5">
						<div class="box b1 em08 georgia">Data de vencimento</div>
						<input type="date" name="date" class="box b1 georgia input-generic center">
					</div>
					<div class="box b3 container margin-top-5">
						<div class="box b1 em08 georgia">Categoria</div>
						<select name="category-id" class="box b1 input-generic center">
						    <option value="">Categoria</option>
							<% for(i in outcomeCategories){ %>
								<option value="<%= outcomeCategories[i].id %>"><%= outcomeCategories[i].name %></option>
							<% } %>
						</select>
					</div>
					<div class="box b3 container margin-top-5">
						<div class="box b1 em08 georgia">Origem</div>
						<select name="origin-id" class="box b1 input-generic center">
							<option value="">Origem</option>
						</select>
					</div>
					<div class="box b3 container margin-top-5">
						<div class="box b1 em08 georgia">Valor do pagamento</div>
	                    <input type="number" name="cost" class="box b1 em12 input-generic center bold" step="0.01" value="0.00" onfocus="if(this.value < 0.01){this.value=''}" onblur="if(this.value < 0.01){this.value=parseFloat(0).toFixed(2)}"/>
					</div>
					<div class="box b1 container margin-top-5">
						<div class="box b1 em08 georgia">Banco do pagamento</div>
						<select name="income-category-id" class="box b1 input-generic center">
						    <option value="">Banco do pagamento</option>
							<% for(i in incomeCategories){ %>
								<option value="<%= incomeCategories[i].id %>"><%= incomeCategories[i].name %></option>
							<% } %>
						</select>
					</div>
					<div class="box b1 container margin-top-5">
						<div class="box b1 em08 georgia">Descrição da despesa</div>
						<textarea name="description" class="box b1 height-80 avant-garde padding-5" placeholder="Descrição"></textarea>
					</div>

					<input type="submit" name="submit" class="box b1 submit-generic center margin-top-5" value="Cadastrar">
				</form>
			
                <h3 class="box b1 underline center margin-top-10">Relatório de Saídas</h3>
				<form id="outcome-filter-form" class="box b1 container">
					<input type="date" name="periodStart" class="box b2 input-generic center margin-top-5">
					<input type="date" name="periodEnd" class="box b2 input-generic center margin-top-5">
                    <select name="category-id" class="box b4 input-generic center margin-top-5">
					    <option value="">Categoria</option>
						<% for(i in outcomeCategories){ %>
							<option value="<%= outcomeCategories[i].id %>"><%= outcomeCategories[i].name %></option>
						<% } %>
					</select>
					<select name="origin-id" class="box b4 input-generic center margin-top-5">
						<option value="">Origem</option>
					</select>
					<select name="income-category-id" class="box b4 input-generic center margin-top-5">
					    <option value="">Método de pagamento</option>
						<% for(i in incomeCategories){ %>
							<option value="<%= incomeCategories[i].id %>"><%= incomeCategories[i].name %></option>
						<% } %>
					</select>
					<select name="status" class="box b4 input-generic margin-top-5">
						<option value="">Selecionar status</option>
						<option value="Ag. aprovação">Ag. aprovação</option>
						<option value="A pagar">A pagar</option>
						<option value="Pago">Pago</option>
					</select>
					<input type="submit" name="submit" class="box b1 submit-generic center margin-top-5" value="Filtrar">
				</form>

				<div id="outcome-filter-box" class="box b1 container ground margin-top-10" style="display:none;">
                    <div id="outcome-total-value" class="box b1 em12 center padding-5 bold"></div>
					<div id="outcome-filter-div" class="box b1 container margin-top-5"></div>
	                <% include ./../partials/carousel %>
				</div>
				
				<div id="outcome-show-box" class="box b1 container border-explicit margin-top-10" style="display:none"></div>
			</div>
		</section>
        <% include ./../partials/loader %>
	</body>
	<footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
        <% include ./income/partial %>
        <% include ./outcome/partial %>

		<script src="/javascripts/scripts/financial/income/model/category.js"></script>
		<script src="/javascripts/scripts/financial/income/model/origin.js"></script>

		<script src="/javascripts/scripts/financial/outcome/model/category.js"></script>
		<script src="/javascripts/scripts/financial/outcome/model/origin.js"></script>
        
        <script>
        	// Income category fill origin when changed
        	Income.controller.create_category = document.getElementById("income-create-form").elements.namedItem("category-id");
			if(Income.controller.create_category){
				Income.controller.create_category.addEventListener("change", async event => {
					Income.controller.fillOriginSelect(event.target.value, "income-create-form");
				});
			}

			Income.controller.filter_category = document.getElementById("income-filter-form").elements.namedItem("category-id");
			if(Income.controller.filter_category){
				Income.controller.filter_category.addEventListener("change", async event => {
					Income.controller.fillOriginSelect(event.target.value, "income-filter-form");
				});
			}

        	// Outcome category fill origin when changed
        	Outcome.controller.create_category = document.getElementById("outcome-create-form").elements.namedItem("category-id");
			if(Outcome.controller.create_category){
				Outcome.controller.create_category.addEventListener("change", async event => {
					Outcome.controller.fillOriginSelect(event.target.value, "outcome-create-form");
				});
			}

			Outcome.controller.filter_category = document.getElementById("outcome-filter-form").elements.namedItem("category-id");
			if(Outcome.controller.filter_category){
				Outcome.controller.filter_category.addEventListener("change", async event => {
					Outcome.controller.fillOriginSelect(event.target.value, "outcome-filter-form");
				});
			}

        	//fill date inputs
        	// lib.fillDateInput(document.getElementById("balance-report-form").elements.namedItem('balance_periodStart'));
        	// lib.fillDateInput(document.getElementById("balance-report-form").elements.namedItem('balance_periodEnd'));

        	// lib.fillDateInput(document.getElementById("income-create-form").elements.namedItem('date'));
        	lib.fillDateInput(document.getElementById("income-filter-form").elements.namedItem('periodStart'));
        	lib.fillDateInput(document.getElementById("income-filter-form").elements.namedItem('periodEnd'));

        	// lib.fillDateInput(document.getElementById("outcome-create-form").elements.namedItem('date'));
        	lib.fillDateInput(document.getElementById("outcome-filter-form").elements.namedItem('periodStart'));
        	lib.fillDateInput(document.getElementById("outcome-filter-form").elements.namedItem('periodEnd'));
        </script>
	</footer>
</html>