<html>
	<head>
        <% include ./../partials/head %>
		<style>
			:root {
				--theme-background-color: #fff;
			}
		</style>
	</head>
	<header>
		<div onclick="window.history.back()" href="#default" class="favicon"><img class="favicon-image" src="/images/favicon/favicon-black.png"></div>
	</header>
	<body>
		<section>
			<div class="container Army">
				<div class="box one center"><h1 class="center">#<%= product.code %> - <%= product.name %> <%= product.color %> <%= product.size %></h1></div>
			</div>

			<% if(product.images.length){ %>
			<div class="container">
				<% for(i=0;i<3;i++){ %>
					<div class="box three"><img class="catalog-image" style="height:200px;" src="<%= product.images[i].url %>"></div>
				<% } %>
			</div>
			<% } %>

			<% let noCategories = [] %>
			<% for(i in product.feedstocks){ %>
				<% if(!product.feedstocks[i].category_id){ %>
					<% noCategories.push(product.feedstocks[i]) %>
				<% } %>
			<% } %>

			<div class="container">
			<% if(noCategories.length){ %>
				<div class="box four box-border margin-top-10 padding-10">
					<h5 class="center">Sem categoria</h5>
					<table class="tbl-info width-fill">
						<tr>
							<td>Info</td>
							<td>Qtd</td>
							<td>Medida</td>
						</tr>
					<% for(i in noCategories){ %>
						<tr>
							<% if(noCategories[i].uom == 'un'){ %>
								<td><%= noCategories[i].feedstock_info %></td>
								<td class="nowrap"><%= noCategories[i].amount+""+noCategories[i].uom %></td>
								<td></td>
							<% } else { %>
								<td><%= noCategories[i].feedstock_info %></td>
								<td><%= noCategories[i].amount %></td>
								<td class="nowrap"><%= noCategories[i].measure+""+noCategories[i].uom %></td>
							<% } %>
						</tr>
					<% } %>
					</table>
				</div>
			<% } %>

			<% for(i in product.feedstock_categories){ %>
				<div class="box four box-border margin-top-10 padding-10">
					<h5 class="center"><%= product.feedstock_categories[i].name %></h5>
					<table class="tbl-info width-fill">
						<tr>
							<td>Info</td>
							<td>Qtd</td>
							<td>Medida</td>
						</tr>
					<% for(j in product.feedstocks){ %>
						<% if(product.feedstock_categories[i].id == product.feedstocks[j].category_id){ %>
							<tr>
								<% if(product.feedstocks[j].uom == 'un'){ %>
									<td><%= product.feedstocks[j].feedstock_info %></td>
									<td class="nowrap"><%= product.feedstocks[j].amount+""+product.feedstocks[j].uom %></td>
									<td></td>
								<% } else { %>
									<td><%= product.feedstocks[j].feedstock_info %></td>
									<td><%= product.feedstocks[j].amount %></td>
									<td class="nowrap"><%= product.feedstocks[j].measure+""+product.feedstocks[j].uom %></td>
								<% } %>
							</tr>
						<% } %>					
					<% } %>
					</table>
				</div>
			<% } %>
			</div>
		</section>
        <% include ./../partials/loader %>
	</body>
	<footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
	</footer>
</html>