<html>
	<head>
        <% include ./../partials/head %>
	</head>
	<header>
		<div onclick="window.history.back()" href="#default" class="favicon"><img class="favicon-image" src="/images/favicon/favicon-black.png"></div>
	</header>
	<body>
		<section>
			<div class="container">
				<div class="box one center"><h3>#<%= product.code %> - <%= product.name %> <%= product.color %> - <%= product.size %></h3></div>
				<div class="box one ground margin-top-10">
					<div class="container">
						<% if(!product.images.length){ %>
						<div data-js="product-carousel" class="box one ground margin-top-15 padding-10 center display-none display-block">
		                    <img class="catalog-image" src="/images/product/no-product.png">
		                </div>
						<% } else { %>
						<div data-js="product-carousel" class="box one ground margin-top-15 padding-10 center display-none display-block">
		                    <img class="catalog-image" src="<%= product.images[0].url %>">
		                </div>
						<% for(i in product.images){ %>
							<% if(i > 0){ %>
							<div data-js="product-carousel" class="box one ground margin-top-15 padding-10 center display-none">
			                    <img class="catalog-image" src="<%= product.images[i].url %>">
			                </div>
							<% } %>
						<% } %>
						<div id="product-carousel-navigation" class="box one ground padding-10 center">
		                    <button data-js="product-carousel-prev" name="carousel-prev" class="btn-pagination" autocomplete="off">&lsaquo;&lsaquo;</button>
		                    <button data-js="product-carousel-next" name="carousel-next" class="btn-pagination" autocomplete="off">&rsaquo;&rsaquo;</button>
		                </div>
						<% } %>
					</div>
				</div>
			</div>
		</section>
        <% include ./../partials/loader %>
	</body>
	<footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
        <script>
        	lib.carousel.render("product-carousel")
        </script>
	</footer>
</html>