<html>
<head>
    <% include ./../../partials/head %>
</head>
<style>
	/** { font-weight: bold; }*/
</style>
<body>
	<% include ./../../partials/header %>
    <% include ./../../partials/nav %>
	<section class="container">
		<form id="expense-create-form" class="box b2 container ground padding-10 margin-top-10">
			<div class="box b1 underline center em13">Nova despesa</div>
			<input type="hidden" name="id">
			<input type="hidden" name="outcome-id">
			<div class="box b1 container padding-5 border margin-top-5 border">
				<div class="box b1 container margin-top-5">
					<div class="box b1 em08 georgia">Data de vencimento</div>
					<input type="date" name="date" class="box b1 georgia input-generic center">
				</div>
				<div class="box b3 container margin-top-5">
					<div class="box b1 em08 georgia">Categoria</div>
					<select name="category-id" class="box b1 input-generic center">
					    <option value="">Categoria</option>
						<% for(i in outcomeCategories){ %>
							<option value="<%= outcomeCategories[i].id %>"><%= outcomeCategories[i].name %></option>
						<% } %>
					</select>
				</div>
				<div class="box b3 container margin-top-5">
					<div class="box b1 em08 georgia">Origem</div>
					<select name="origin-id" class="box b1 input-generic center">
						<option value="">Origem</option>
					</select>
				</div>
				<div class="box b3 container margin-top-5">
					<div class="box b1 em08 georgia">Valor do pagamento</div>
                    <input type="number" name="cost" class="box b1 em12 input-generic center bold" step="0.01" value="0.00" onfocus="if(this.value < 0.01){this.value=''}" onblur="if(this.value < 0.01){this.value=parseFloat(0).toFixed(2)}"/>
				</div>
				<div class="box b1 container margin-top-5">
					<div class="box b1 em08 georgia">Descrição da despesa</div>
					<textarea name="description" class="box b1 height-80 avant-garde padding-5" placeholder="Descrição"></textarea>
				</div>
			</div>

			<div class="box b1 container border margin-top-5 padding-5">
				<div class='mobile-box b5 center'><img class='icon width-40' src='/images/icon/billet_icon.png' onclick="lib.displayDiv('expense-billet-form', this)"></div>
				<div class="mobile-box b3-5 underline center em13">Método de pagamento</div>
				<input type="hidden" name="payment-method" value="Boleto">
				
				<div id="expense-billet-form" class="box b1 container border-explicit-2 margin-top-5 padding-5" style="display:none;">
					<input type='radio' id='origin-payment-radio' name='origin-payment-id' class='mobile-box b9 center' value=''>
					<div class="mobile-box b8-9 underline margin-top-5 bold center">Boleto</div>
					<div class="box b3 container margin-top-5">
						<div class="box b3 em08 georgia">Banco</div>
						<input type="text" name="billet-bank" class="box b1 georgia input-generic center" placeholder="Banco recebedor" autocomplete="off">
					</div>
					<div class="box b2-3 container margin-top-5">
						<div class="box b1 em08 georgia">Favorecido</div>
						<input type="text" name="billet-receiver" class="box b1 georgia input-generic center" placeholder="Nome do beneficiário" autocomplete="off">
					</div>
					<div class="box b1 container margin-top-5">
						<div class="box b1 em08 georgia">Código de barras</div>
						<input type="text" name="billet-code" class="box b1 georgia input-generic center" placeholder="Código de barras" autocomplete="off">
					</div>
				</div>
				
				<div id="expense-payment-method-box" class="box b1 container" style="display:none;">
					<div id="expense-payment-method-div" class="box a1 container"></div>
		            <% include ./../../partials/carousel %>
				</div>
			</div>

			<input type="submit" name="submit" value="Cadastrar despesa" class="box b1 margin-top-5 submit-generic">
		</form>

		<div class="box b2 container ground padding-10 margin-top-10">
			<form id="expense-filter-form" class="box a1 container">
				<div class="box b1 underline center em13">Relatório de Despesas</div>
				<input type="date" name="periodStart" class="box b2 input-generic center margin-top-5">
				<input type="date" name="periodEnd" class="box b2 input-generic center margin-top-5">
	            <select name="category-id" class="box b4 input-generic center margin-top-5">
				    <option value="">Categoria</option>
					<% for(i in outcomeCategories){ %>
						<option value="<%= outcomeCategories[i].id %>"><%= outcomeCategories[i].name %></option>
					<% } %>
				</select>
				<select name="origin-id" class="box b4 input-generic center margin-top-5">
					<option value="">Origem</option>
				</select>
				<select name="income-category-id" class="box b4 input-generic center margin-top-5">
				    <option value="">Método de pagamento</option>
					<% for(i in incomeCategories){ %>
						<option value="<%= incomeCategories[i].id %>"><%= incomeCategories[i].name %></option>
					<% } %>
				</select>
				<select name="status" class="box b4 input-generic margin-top-5">
					<option value="">Selecionar status</option>
					<option value="Ag. aprovação">Ag. aprovação</option>
					<option value="A pagar">A pagar</option>
					<option value="Pago">Pago</option>
					<option value="Cancelada">Cancelada</option>
				</select>
				<input type="hidden" name="user_id" value="">
				<input type="submit" name="submit" class="box b1 submit-generic center margin-top-5" value="Filtrar">
			</form>
			<div id="expense-filter-box" class="box a1 container ground padding-10 margin-top-10">
				<div id="expense-filter-div" class="box a1 container margin-top-5"></div>
	            <% include ./../../partials/carousel %>
			</div>
			<div id="expense-show-box" class="box a1 container border-explicit padding-5 margin-top-5" style="display:none"></div>
		</div>
	</section>
	<% include ./../../partials/loader %>
</body>
<footer>
    <% include ./../../partials/footer %>
    <% include ./../partial %>
    <% include ./../income/partial %>
    <% include ./../outcome/partial %>
    <% include ./partial %>
    <script>
    	// Income category fill origin when changed
    	Expense.controller.create_category = document.getElementById("expense-create-form").elements.namedItem("category-id");
		if(Expense.controller.create_category){
			Expense.controller.create_category.addEventListener("change", async event => {
				Outcome.controller.fillOriginSelect(event.target.value, "expense-create-form");
				await Expense.controller.fillOriginPayments(0, "expense-payment-method-box", Expense.view.originPayments);
			});
		}

		Expense.controller.filter_category = document.getElementById("expense-filter-form").elements.namedItem("category-id");
		if(Expense.controller.filter_category){
			Expense.controller.filter_category.addEventListener("change", async event => {
				Outcome.controller.fillOriginSelect(event.target.value, "expense-filter-form");
			});
		}

		lib.fillDateInput(document.getElementById("expense-filter-form").elements.namedItem('periodStart'));
    	lib.fillDateInput(document.getElementById("expense-filter-form").elements.namedItem('periodEnd'));
    </script>
</footer>
</html>