
<html>
<head>
    <% include ./../../partials/head %>
    <style>
		.bg-orange { background-color: #ffa500; }
		.bg-gray { background-color: gray; }
		.bg-green { background-color: #4ab439; }
		.bg-blue { background-color: #6961ff; }
		.bg-red { background-color: #ff6961; }
		.bg-black { background-color: #000; }
		.font-white { color: #fff; }
    </style>
</head>
<body>
	<% include ./../../partials/header %>
    <% include ./../../partials/nav %>
	<section class="container">
		<div class="box b1 container ground padding-10 margin-top-10">
			<form id="expense-triage-filter-form" class="box a1 container">
				<div class="box b1 underline center em13">Relatório de Despesas</div>
				<input type="date" name="periodStart" class="box b2 input-generic center margin-top-5">
				<input type="date" name="periodEnd" class="box b2 input-generic center margin-top-5">
	            <select name="category-id" class="box b3 input-generic center margin-top-5">
				    <option value="">Categoria</option>
					<% for(i in outcomeCategories){ %>
						<option value="<%= outcomeCategories[i].id %>"><%= outcomeCategories[i].name %></option>
					<% } %>
				</select>
				<select name="origin-id" class="box b3 input-generic center margin-top-5">
					<option value="">Origem</option>
				</select>
				<select name="payment-method" class="box b3 input-generic center margin-top-5">
				    <option value="">Método de pagamento</option>
				    <option value="Boleto">Boleto</option>
				    <option value="Pix">Pix</option>
				    <option value="Transferência bancária">Transferência bancária</option>
				</select>
				<select name="status" class="box b3 input-generic margin-top-5">
					<option value="A pagar">A pagar</option>
					<option value="Pago">Pago</option>
				</select>
				<select name="user_id" class="box b3 input-generic margin-top-5">
					<option value="">Usuário</option>
					<% for(i in users){ %>
						<option value="<%= users[i].id %>"><%= users[i].name %></option>
					<% } %>
				</select>
				<input type="submit" name="submit" class="box b3 submit-generic center margin-top-5" value="Filtrar">
			</form>
			<div id="expense-triage-filter-box" class="box a1 container ground padding-10 margin-top-10">
				<div id="expense-triage-filter-div" class="box a1 container margin-top-5"></div>
	            <% include ./../../partials/carousel %>
			</div>
			<div id="expense-triage-show-box" class="box a1 container margin-top-5" style="display:none">
				<div id="expense-triage-show-div" class="box a1 container border-explicit padding-5 margin-top-5"></div>
				<form id="expense-pay-form" class="box b1 container" style="display:none">
					<input type="hidden" name="id" value="">
					<input type="hidden" name="outcome-id" value="">
					<div class="box b1 container margin-top-10 padding-5">
						<select name="income-category-id" class="box a4 input-generic center radius-5 hide-disabled">
							<option value="" disabled selected>Opção de Pagamento</option>
							<% for(i in incomeCategories){ %>
								<option value="<%= incomeCategories[i].id %>"><%= incomeCategories[i].name %></option>
							<% } %>
						</select>
					</div>
					<button name="submit" class="box b1 center bg-green radius-10 font-white input-generic margin-top-5 margin-bottom-10 pointer opacity-in-08">Confirmar pagamento</button>
				</form>
			</div>
		</div>
	</section>
	<% include ./../../partials/loader %>
</body>
<footer>
    <% include ./../../partials/footer %>
    <% include ./../partial %>
    <% include ./../income/partial %>
    <% include ./../outcome/partial %>
    <% include ./partial %>

	<script src="/javascripts/scripts/financial/expense/controller/triage.js"></script>
	<script src="/javascripts/scripts/financial/expense/view/triage.js"></script>

    <script>
    	// Income category fill origin when changed
		Expense.controller.filter_category = document.getElementById("expense-triage-filter-form").elements.namedItem("category-id");
		if(Expense.controller.filter_category){
			Expense.controller.filter_category.addEventListener("change", async event => {
				Outcome.controller.fillOriginSelect(event.target.value, "expense-triage-filter-form");
			});
		}

		document.getElementById("expense-triage-filter-form").elements.namedItem("periodStart").value = lib.convertDate(lib.timestampToDate(lib.genTimestamp() - (lib.timestampDay()*15)));
        document.getElementById("expense-triage-filter-form").elements.namedItem("periodEnd").value = lib.convertDate(lib.timestampToDate(lib.genTimestamp()));
    </script>
</footer>
</html>